.vscode/*
build/*
*.pyc
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.lbl
*.pdf
*.brf
*.blend1
*.soc
*.orig
.nfs*
eg15template.brf
IEEEtran/*
*~
*.fuse*
*.$*
~$*
figures_source/.~lock.cones.odp#
